doctype
html
  head
    title Syndamia Profile README
    link(rel="stylesheet" href="styles.css")
    link(rel="icon" href="https://syndamia.com/img/favicon.png" type="image/png")
  body
    #page
      != yield
