div.top-container
    div
        div.heading-tab
            |Hello!
        p My name is Kamen and currently I'm a programming student.

        p My skills are mostly geared towards back-end development, but I have some experience with front-end.

        a(href="https://syndamia.com/about.html") About
        |||
        a(href="https://gitlab.com/Syndamia") GitLab
        |||
        a(href="https://github.com/Syndamia") GitHub
        |||
        a(href="https://bg.linkedin.com/in/kamen-mladenov") LinkedIn
    div
        a(href="https://github.com/anuraghazra/github-readme-stats")
            img(src="https://github-readme-stats.vercel.app/api/wakatime?username=Syndamia&api_domain=wk.syndamia.com&layout=compact&theme=gruvbox&langs_count=20&range=any&custom_title=Top%20Languages%20Of%20All%20Time&border_radius=0&hide=markdown,unknown,text").borderless

h2 Important Projects

ul
    li
        a(href="https://gitlab.com/Syndamia/syndamiadotcom") syndamiadotcom
        |  is my personal website. It's not anything fancy, but I did obtain most of my front-end and server administration skills through it.
    li
        a(href="https://github.com/Team-Kaleidoscope/DevHive") DevHive
        |  and 
        a(href="https://github.com/Team-Kaleidoscope/DevHive-Angular") DevHive-Angular
        |  are a "social media for programmers". Made as a group exam project, they were my first dip into real world software development. The insight and skills I obtained during their development are immeasurable.
    li
        a(href="https://gitlab.com/Syndamia/algorithms") algorithms
        |  contains my implementations of different algorithmic exercises in a plethora of languages.
    li
        a(href="https://gitlab.com/Syndamia/IT-kariera") IT-kariera
        |  is where I keep most of the work I've done during the 
        a(href="https://it-kariera.mon.bg/e-learning/") it-kariera
        |  program. That program gave me a huge head start into software development and really solidified my future.
    li
        a(href="https://gitlab.com/Syndamia/dotfiles") dotfiles
        |  because Linux is awesome (⌐■_■)

h2 Contact

ul
    li Casual topics: 
        a(href="mailto:syndamia@protonmail.com") syndamia@protonmail.com
    li Business/work inquiries: 
        a(href="mailto:kamen.d.mladenov@protonmail.com") kamen.d.mladenov@protonmail.com
        |  or for job-related topics,
        a(href="https://bg.linkedin.com/in/kamen-mladenov") LinkedIn
