/* Most of this styling is taken from https://gitlab.com/Syndamia/syndamiadotcom/-/blob/master/src/styles.css */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body, td, th {
  font: 19px 'Open Sans', sans-serif;
  line-height: 1.5em;
}

/* Selector modifications */

*, hr, #page > table tr, #page > table td, #page > table th {
  color: #ffeede;
  border-color: #777;
  background-color: #262626;
}

blockquote * {
  color: #919191;
}

h1, h2, h3, h4, h5, h6, b {
  color: #d49408;
  border-color: #777;
}

strong {
  color: #c35b5b;
}

a, a strong {
  color: #b47494;
  border-bottom: 1px dashed;
  text-decoration: none;
}

a:hover, a strong:hover {
  color: #da8db3;
}

pre, code {
  background-color: #464646;
}

i, em {
  color: #999908;
}

.borderless {
  border: none;
}

/* General page */

#page {
  max-width: 50em;
  margin: auto;
  padding-top: 1em;
  word-break: break-word;
}

.heading-tab {
  width: fit-content;
  font-size: 3em;
  line-height: 1em;
  padding: 10px;
  background-color: #464646;
}

.top-container {
  display: flex;
  flex-direction: row;
}

.top-container > div {
  flex: 1;
}
